@import vars
@import fonts
@import libs

.page
	position: relative
	font-size: 16px
	::selection
		background-color: $accent
		color: $inverse

body
	position: relative
	min-width: 320px
	height: 100vh
	font-family: 'Ubuntu', sans-serif
	font-weight: 400
	line-height: 1.4
	color: $text
	word-wrap: break-word

.img-responsive
	display: block
	max-width: 100%
	height: auto

picture
	display: inline-block
	line-height: 0
